body{
	font-family:Corbel;
	margin:0px;
	padding:0px;
}
hr{
	font-size:24px;
	border:#83c92b 5px solid;
}
p{
	font-color:#2a2a2a;
	font-size: 20px;
}
.wrapper{
	min-height:100%;
	position:static;
	overflow:hidden;
}
.content-wrapper{
	width:75%;
	float:right;
	margin-top: 20px;
}
.header2{
	background:#2a2a2a;
	width:100%;
	height:50px;
	box-shadow:0px 0px 5px rgba(0,0,0,1);
	color:#fff;
	border-top:5px solid #83c92b;
}
.header1{
	width:100%;
	background:#f0f0f0;
	color: #2a2a2a;
	padding: 30px 0px;
}
.batas{
	width:90%;
	margin:auto;
}
.menu_link{
	background:none;
	padding:15px;
	float:left;
	font-size:17px;
	text-decoration:none;
	color:#fff;
}
.menu_link:hover{
	background:#83c92b;
	-webkit-transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
	padding: 15px;
	text-decoration: none;
	color: #fff;
}
.kat{
	float:left;
	width:20%;
	margin-top: 20px;
	position: fixed;
	height: 300px;
}
.kat h3{
	width:90%;
	padding:3%;
	background:#83c92b;
	font-size:20px;
	color:#fff;
	text-align:center;
	margin:0px;
	margin-top:20px;
	border-bottom:5px solid #3D9C25;
}
.kat h4{
	width:90%;
	padding:3%;
	background:#E1E1E1;
	font-size:18px;
	color:#000;
	margin:0px;
	text-align:center;
	margin-bottom:3px;
}
.kat h4:hover{
	background:#a6a6a6;
}
.kat a{
	text-decoration:none;
}
.tombol{
	background:#83c92b;
	padding:10px;
	margin:20px 5px;
	font-size:16px;
	border:none;
	border-radius: 5px;
	text-decoration:none;
	color:#FFF;
	font-weight: bold;
}
.tombol:hover{
	background:#339711;
	-webkit-transition:all ease 0.5s;
	-moz-transition:all ease 0.5s;
}
.form-container{
	border: 1px solid #f2e3d2;
	background: #fff;
	border-radius: 8px;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width: 300px;
	padding: 20px;
	border:2px solid #83c92b;
	/*width:75%;*/
}
.form-field{
	border:1px solid #c9b7a2;
	background: #fff;
	border-radius: 4px;
	color: #c9b7a2;
	padding: 8px;
	margin-bottom: 20px;
	width:90%;
}
.form-field:focus{
	background: #fff;
	color: black;
}
.form-container h2{
	text-shadow: #fdf2e4 0 1px 0;
	font-size: 18px;
	margin: 0 0 10px 0;
	font-weight: bold;
	text-align: center;
}
.form-title{
	margin-bottom: 10px;
	color: #725129;
	text-shadow: #fdf2e4 0 1px 0;
}
.footer{
	background:#2a2a2a;
	width:100%;
	color:#FFF;
	float:left;
	height:30px;
	padding:25px 0px;
	margin-top: 50px;
	border-top:5px solid #83c92b;
	vertical-align: text-top;
}